
.App-header {
  background-color: #234085;
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#homeLink {
}
